@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased transition-colors duration-300;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Light Mode Scrollbar */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
  }

  /* Dark Mode Scrollbar */
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white/10 hover:bg-white/20;
  }
}